<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>AutoFlex</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <script src="https://kit.fontawesome.com/c73c7e0ed2.js" crossorigin="anonymous"></script>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      const autoShowToast = document.getElementById('autoShowToast');
      const toastBootstrap = new bootstrap.Toast(autoShowToast);
      toastBootstrap.show();
    });
  </script>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  
</head>

<body class="bg-body bg-image">
  <div class="container my-5 px-md-5 px-4">
    <div class="col-md-10 mx-auto bg-body rounded-3 py-4">
      <form th:action="@{/saveuser}" th:object="${user}" method="post" enctype="multipart/form-data"
            class="needs-validation  px-5 mx-auto mt-3" novalidate>
        <div class="row my-3">
          <div class="col">
            <h1 class="h1 text-center fw-bold mb-4 ">
	            <i class="fa-solid fa-layer-group fs-2 text-gradient me-1"></i>
	            Auto<span class="text-gradient fw-bolder ">FleX</span>
	         </h1>
            <h1 class="h4 mb-2 fw-normal">Let's get started!</h1>

            <th:block th:if="${session.message}">
                <div th:class="${'toast-container position-fixed top-0 end-0 p-3'}">
                    <div id="autoShowToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div th:class="${'toast-header bg-'+session.message.type+'-subtle'}">
                            <i class="fa-solid fa-layer-group fs-6 text-gradient me-1"></i>
                            <strong class="me-auto text-white">Autoflex</strong>
                            <small class="text-white">just now</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" th:class="${'toast-body'}">
                            <span th:text="${session.message.content}"></span>
                        </div>
                    </div>
                </div>
            </th:block>

          </div>
        </div>

        <div class="row ">
          <div class="col-md-4 ">
            <div class="mb-3 form-floating">
              <select class="form-select" name="role" id="role" th:field="*{role}"
                      aria-label="Floating label select example" required>
                <option value="customer">Customer</option>
                <option value="owner">Car Owner</option>
              </select>
              <label for="role">Select Your Role</label>
              <div class="invalid-feedback">Please select a role.</div>
            </div>
          </div>
          <div class="col-md-8 ">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                     placeholder="name@example.com" required />
              <label for="email">Email address</label>
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="first name" name="firstName" th:field="*{firstName}"
                     placeholder="First Name" required="required" />
              <label for="first name">First Name</label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="last name" name="lastName" th:field="*{lastName}"
                     placeholder="Last Name" required="required" />
              <label for="last name">Last Name</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="location" name="city" th:field="*{city}"
                     placeholder="location" required="required" />
              <label for="location">City</label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="tel" name="contactNumber" class="form-control" id="phone" th:field="*{contactNumber}"
                     pattern="[0-9]{10}" placeholder="1111111110" required="required" />
              <label for="phone">Contact number</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" name="password" th:field="*{password}"
                     placeholder="password" pattern="(?=.*\d)(?=.*[!@#$%^&*])[\w!@#$%^&*]{8,}" required />
              <label for="password">Password</label>
              <div class="invalid-feedback">
                Password length should be greater than 8 characters.
                (must contain at least one number and one special character.)
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                     placeholder="confirm password" pattern="(?=.*\d)(?=.*[!@#$%^&*])[\w!@#$%^&*]{8,}"
                     oninput="checkPasswordMatch(this)" required />
              <label for="confirmPassword">Confirm Password</label>
              <div class="invalid-feedback">Passwords do not match.</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-3">
            <label for="image" class="form-label mb-2">Upload Picture</label>
            <input type="file" name="image" class="form-control" accept="image/*" required="required" />
          </div>
        </div>

        <div class="row  py-3">
          <div class="col-12  d-flex justify-content-between align-items-center">
            <button class="btn btn-primary w-100 py-2 " type="submit">
              Continue
            </button>
          </div>

          <div class="col-12  text-center">
            <p class="my-3 fw-normal d-flex justify-content-center text-muted align-items-center">Already have an
              account?
              <a class="nav-link text-primary px-2 text-gradient link" href="/login">Sign In</a>
            </p>
          </div>

        </div>
      </form>
    </div>
    <p class="mt-5 text-center mb-2 text-body-secondary">
      © 2024 AutoFlex.
    </p>
  </div>

  <script>
    // Add this function to your existing JavaScript code
    function checkPasswordMatch(input) {
      const password = document.getElementById('password');
      const confirmPassword = input;

      if (password.value !== confirmPassword.value) {
        confirmPassword.setCustomValidity('Passwords do not match.');
      } else {
        confirmPassword.setCustomValidity('');
      }
    }

    (() => {
      'use strict';

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation');

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });

      // Add an event listener to confirmPassword field
      const confirmPasswordField = document.getElementById('confirmPassword');
      if (confirmPasswordField) {
        confirmPasswordField.addEventListener('input', () => checkPasswordMatch(confirmPasswordField));
      }
    })();

  </script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
          integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
          integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
          crossorigin="anonymous"></script>

  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
</body>

</html>